body{
  background-color: rgb(40,40,40);
}

.title{
  color: white;
  font-family: Arial;
  font-size: 40px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  column-gap: 20px;
  row-gap: 40px;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(82, 82, 82);
  border-radius: 10px;
}

.product-image{
  margin-top: 10px;
  height: 150px;
  width: 150px;
  /*
  border: 2px solid rgb(40,40,40);
  border-radius: 50%;
  */
}

.product-name{
  color: white;
  font-family: Arial;
  font-size: 20px;
  margin-bottom: 0;
}

.product-price{
  color: white;
  font-family: Arial;
  font-size: 20px;
}